/* Add additional stylesheets below
-------------------------------------------------- */

/* Ipad portrait media queries 768x1024*/
@media only screen
and (min-device-width : 768px)
/*ipad pro screen: 1024x1336 */
and (max-device-width : 1336px)
and (orientation : portrait) { /* STYLES GO HERE */
    .message{
        display: none;
    }
}

.title {
    text-align: center;
    font-size: 25px;
}

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    margin: auto;
}

.battleGrid tr {
    border: 1px solid black;
    height: 25px;
}

.battleGrid td {
    border: 1px solid black;
    width: 60px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.empty {
    background-color: gray;
}

.hasShip{
    background-color: black;
}

.log {
    width: 620px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.clicked {
    background-color: red;
}

* {
  box-sizing: border-box;
}

.button_container{
    margin: auto;
    width: 65%;
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    display:table;
    margin:0 auto;
}

.buttons {
    float: left;
    width: 50%;
    padding: 20px;
}

.hide {
    display: none;
}

.checkbox_container {
     background-color: #555555;
     border: none;
     color: white;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 2px 2px;
}
