<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">


<h1 class="title">The Battleship Game</h1>

<table id="opponent" class="battleGrid">
</table>

<div class="log">
    <div id="logText"> Click place ship buttons to place ship, turn on attack button then click enemy's board to attack. </div>

</div>

<table id="player" class="battleGrid">
</table>
<div class="button_container">
    <div class="buttons">
        <ul>
            <li><button class="button" id="place_minesweeper">Place Minesweeper</button></li>
            <li><button class="button" id="place_destroyer">Place Destroyer</button></li>
            <li><button class="button" id="place_battleship">Place Battleship</button></li>
            <li class="checkbox_container"><input type="checkbox" id="is_vertical">Vertical</input></li>
         </ul>
    </div>
    <div class="buttons">
        <ul>
         <li><button class="button" id="attack_button">ATTACK</button></li>
         <li><button class="button" id="surrender_button">SURRENDER</button></li>
        </ul>
    </div>
</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
