<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">

<div align="center" class="message sink" id="notice">
    <h3>Notice!</h3>
    <p>This site works best on the iPad screen.</p>
</div>


<div class="alert alert-info alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>New!</strong> Introducing the captains quarter and sonar pulse! Attack the captains quarter to sink ships
    faster or use the sonar pulse to reveal a portion of the map after sinking one ship.
</div>

<h1 align="center" class="title">The Battleship Game</h1>

<table align="center" id="opponent" class="battleGrid">
</table>

<div align="center" class="log">
    <div id="logText"> Click place ship buttons to place ship, turn on attack button then click enemy's board to attack. </div>
</div>

<table align="center" id="player" class="battleGrid">
</table>
<div align="center" class="button_container">
    <div class="buttons">
        <ul>
            <li><button class="button" id="place_minesweeper">Place Minesweeper</button></li>
            <li><button class="button" id="place_destroyer">Place Destroyer</button></li>
            <li><button class="button" id="place_battleship">Place Battleship</button></li>
            <li class="checkbox_container"><input type="checkbox" id="is_vertical">Vertical</input></li>
         </ul>
    </div>
    <div class="buttons">
        <ul>
         <li><button class="button" id="attack_button">ATTACK</button></li>
         <li><button class="button" id="surrender_button">SURRENDER</button></li>
            <li><button class="button hide" id="sonarPulse_button">SONAR PULSE</button></li>
            <li class="counter hide" id="sonarPulse_counter"> SONAR PULSE REMAIN: 2 </li>
        </ul>
    </div>
</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
